@model Postera.WebApp.Data.Models.Tracking
@{
    Layout = "_UserLayout";
}

@section Links {
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.37.2/maps/maps.css'/>
}

<div class="container-fluid">
    <div class="row m-b-20 align-items-center">
        <h3 class="title-3">Order</h3><h3 class="title-4 m-l-15">@Model.Id</h3>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row form-group m-b-20 order-column order-column">
                <div class="row">
                    <label for="sourceCity" class="form-control-label order-label-element">From</label>
                </div>
                <div class="row">
                    <p id="sourceCity" class="order-text-element">@Model.SourceStorage.Address.City, @Model.SourceStorage.Address.Street, @Model.SourceStorage.Address.House</p>
                </div>
            </div>
            <div class="row form-group m-b-20 order-column order-column">
                <div class="row">
                    <label for="destinationCity" class=" form-control-label order-label-element">To</label>
                </div>
                <div class="row">
                    <p id="destinationCity" class="order-text-element">@Model.DestinationStorage.Address.City, @Model.DestinationStorage.Address.Street, @Model.DestinationStorage.Address.House</p>
                </div>
            </div>
            <div class="row form-group m-b-20 order-column">
                <div class="row">
                    <label for="sendDate" class=" form-control-label order-label-element">Expected arrival date</label>
                </div>
                <div class="row">
                    <p id="sendDate" class="order-text-element">@Model.ExpectedArrivalDate</p>
                </div>
            </div>
            <div class="row form-group m-b-20 order-column">
                <div class="row">
                    <label for="status" class=" form-control-label order-label-element">Status</label>
                </div>
                <div class="row">
                    <p id="status" class="order-text-element">@Model.Status</p>
                </div>
            </div>
            <div class="row form-group m-b-20 order-column">
                <div class="row">
                    <label for="price" class=" form-control-label order-label-element">Price</label>
                </div>
                <div class="row">
                    <p id="price" class="order-text-element">@Model.Price</p>
                </div>
            </div>
            <div class="row form-group m-b-20 order-column">
                <div class="row">
                    <label for="destinationClientFirstName" class=" form-control-label order-label-element">Receiver</label>
                </div>
                <div class="row">
                    <p id="destinationClientFirstName" class="order-text-element">@Model.DestinationClient.FirstName @Model.DestinationClient.LastName</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="map" class="map-container"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.37.2/maps/maps-web.min.js'></script>
    <script>
        let coordinates = [@Model.CurrentCoordinates.Longitude, @Model.CurrentCoordinates.Latitude];
        let map = tt.map({
            container: 'map',
            key: 'sPZoYgYBxYrzQMgocfjutjv1iFLzqieI',
            center: coordinates,
            zoom: 10
        });
        
        let marker = new tt.Marker()
            .setLngLat(coordinates)
            .addTo(map);
    </script>
}