@using System.Security.Claims
@using Postera.WebApp.Data.Models
@using Postera.WebApp.Resources
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">
    <link href="/css/site.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="/images/logo_transparent.png" alt="Postera" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <ul class="list-unstyled">
                                <li>
                                    @Html.ActionLink(Resources.PostOffice, "PostOfficesListTemplate", "PostOffice")
                                </li>
                                <li>
                                    @Html.ActionLink(Resources.StorageCompany, "StorageCompanysListTemplate", "StorageCompany")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-container">
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap d-flex justify-content-end">
                            <div class="header-button">
                                <div class="account-wrap">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="content">
                                                <a class="js-acc-btn" href="#">@User.FindFirst(x => x.Type == ClaimTypes.Name).Value</a>
                                            </div>
                                            <div class="account-dropdown js-dropdown">
                                                <div class="info clearfix">
                                                    <div class="content">
                                                        <h5 class="name">
                                                            <a href="#">@User.FindFirst(x => x.Type == ClaimTypes.Name).Value</a>
                                                        </h5>
                                                        <span class="email">@User.FindFirst(x => x.Type == ClaimTypes.Email).Value</span>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__body">
                                                    <div class="account-dropdown__item">
                                                        <a href="/user/account">
                                                            <i class="zmdi zmdi-account"></i>@Resources.Account
                                                        </a>
                                                    </div>
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <div class="account-dropdown__item">
                                                            <a href="/postOffices/template/list">
                                                                <i class="zmdi zmdi-account"></i>@Resources.Admin
                                                            </a>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="account-dropdown__footer">
                                                    <form method="post" asp-action="Logout" asp-controller="User" id="logout">
                                                        <a>
                                                            <i class="zmdi zmdi-power"></i>@Resources.Logout
                                                        </a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.ActionLink(Resources.Login, "Login", "User")
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div id="modalWindowBlock"></div>
            <div class="footer">
                <div class="footer-column">&copy;Vitaly Volohovsky</div>
                <div class="footer-column">@await Html.PartialAsync("SelectLanguage")</div>
            </div>
        </div>
    </div>


    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/vendor/slick/slick.min.js">
    </script>
    <script src="/vendor/wow/wow.min.js"></script>
    <script src="/vendor/animsition/animsition.min.js"></script>
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/js/main.js"></script>
    <script src="/js/site.js"></script>

    <!-- Validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script>
        logout();
    </script>

    @RenderSection("Scripts", false)
</body>

</html>