@model System.Collections.Generic.IList<Postera.WebApp.Data.Models.Storage>

@{
    Layout = null;
}

@foreach (var postOffice in Model)
{
    <tr class="tr-shadow">
        <td>
            <span class="block-email">@postOffice.Name</span>
        </td>
        <td class="desc">@postOffice.Square</td>
        <td class="desc">@postOffice.Type.ToString()</td>
        <td class="desc">@postOffice.Address.City</td>
        <td class="desc">@postOffice.Address.Street, @postOffice.Address.House</td>
    </tr>
    <tr class="spacer"></tr>
}