@using Postera.WebApp.Resources
@model SearchParameters
@{
    Layout = null;
}

<div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="addForm">
                <input type="hidden" asp-for="Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollmodalLabel">@Resources.Storage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <div class="col-lg-11">
                        <div class="card-body card-block">
                            <div class="row">
                                <div class="col col-8 form-group">
                                    <label for="storage-company">@Resources.StorageCompany</label>
                                    <select id="storage-company" class="form-control">
                                        <option value="">@Resources.SelectCompany</option>
                                    </select>
                                </div>
                                <div class="col col-8 form-group disabled">
                                    <label for="storage">@Resources.Storage</label>
                                    <select id="storage" class="form-control">
                                        <option value="">@Resources.SelectStorage</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="create" class="btn btn-primary">@Resources.Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
