@using Postera.WebApp.Resources
@model Postera.WebApp.Data.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}

<div class="login-wrap">
    <div class="login-content">
        <div class="login-logo">
            <a href="#">
                <img src="/images/logo_transparent.png" alt="Postera">
            </a>
        </div>
        <div class="login-form">
            <form asp-action="Login", asp-controller="User" method="post">
                <div class="form-group">
                    <label>@Resources.Email</label>
                    <input class="au-input au-input--full" asp-for="Email" placeholder="@Resources.Email">
                </div>
                <div class="form-group">
                    <label>@Resources.Password</label>
                    <input class="au-input au-input--full" type="password" asp-for="Password" placeholder="@Resources.Password">
                </div>
                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">@Resources.SignIn</button>
            </form>
            <div class="register-link">
                <p>
                    Don't you have account?
                    @Html.ActionLink(Resources.SignUpHere, "Register", "User")
                </p>
            </div>
        </div>
    </div>
</div>