@model IList<Postera.WebApp.Data.Models.StorageCompany>
@{
    Layout = null;
}

@if(Model == null)
{
    return;
}

@foreach (var storageCompany in Model)
{
    <tr class="tr-shadow">
        <td>
            @Html.ActionLink(storageCompany.Name, "StorageCompanyTemplate", "StorageCompany", new { id = storageCompany.Id })
        </td>
        <td>
            <span class="block-email">@storageCompany.Email</span>
        </td>
        <td class="desc">@storageCompany.Address.City</td>
        <td class="desc">@storageCompany.Address.Street, @storageCompany.Address.House</td>
        <td class="desc">
            <div class="edit-button" id="@storageCompany.Id">
                <img src="/images/edit-icon.png" />
            </div>
        </td>
        <td class="desc">
            <div class="delete-button" id="@storageCompany.Id">
                <img src="/images/delete-icon.png" />
            </div>
        </td>
    </tr>
    <tr class="spacer"></tr>
}