@using Postera.WebApp.Resources
<div class="row">
    <div class="col-md-12">
        <h3 class="title-5 m-b-35">@Resources.StorageCompany</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small" id="addItemButton">
                    <i class="zmdi zmdi-plus"></i>@Resources.AddItem
                </button>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>@Resources.Name</th>
                        <th>@Resources.Email</th>
                        <th>@Resources.Address</th>
                    </tr>
                </thead>
                <tbody id="itemsList">
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        getItemsList("storageCompanys");
        registerAddModal("storageCompanys");
        let table = document.querySelector("#itemsList");
        addEditDeleteButton(table, "storageCompanys");
    </script>
}