@using Postera.WebApp.Resources
@model Postera.WebApp.Data.Models.Order
@{
    Layout = "_UserLayout";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder" asp-controller="Order">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostOfficeId" class="control-label">@Resources.PostOfficeService</label>
                <select asp-for="PostOfficeId" class="form-control">
                    <option value="">@Resources.SelectService</option>
                </select>
                <span asp-validation-for="PostOfficeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="sourceCity" class="control-label">@Resources.SourceCity</label>
                <select id="sourceCity" class="form-control">
                    <option value="">@Resources.SelectSourceCity</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SourceStorageId" class="control-label">@Resources.SourceStorage</label>
                <select asp-for="SourceStorageId" class="form-control">
                    <option value="">@Resources.SelectSourceStorage</option>
                </select>
                <span asp-validation-for="SourceStorageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="destinationCity" class="control-label">@Resources.DestinationCity</label>
                <select id="destinationCity" class="form-control">
                    <option value="">@Resources.SelectDestinationCity</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DestinationStorageId" class="control-label">@Resources.DestinationStorage</label>
                <select asp-for="DestinationStorageId" class="form-control">
                    <option value="">@Resources.SelectDestinationStorage</option>
                </select>
                <span asp-validation-for="DestinationStorageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationClientEmail" class="control-label">@Resources.ReceiverEmail</label>
                <input asp-for="DestinationClientEmail" class="form-control" />
                <span asp-validation-for="DestinationClientEmail" class="text-danger"></span>
            </div>
            <div id="userSection" class="form-group disabled">
                <div form-group>
                    <label for="userFirstName">@Resources.FirstName</label>
                    <input id="userFirstName" class="form-control" readonly="readonly" />
                </div>
                <div form-group>
                    <label for="userLastName">@Resources.LastName</label>
                    <input id="userLastName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script>
        getPostOffices();
        checkDestinationUser();
    </script>
}
