@model IList<Postera.WebApp.Data.Models.Order>
@{
    Layout = null;
}

@if (Model == null)
{
    return;
}

@foreach (var order in Model)
{
    <tr id="@order.Id" class="orderRow">
        <td>@order.Id</td>
        <td>@order.Status</td>
        <td>@order.Price</td>
        <td>@order.ArriveDate</td>
        <td class="desc">
            <div class="delete-button" id="@order.Id">
                <img src="/images/delete-icon.png" />
            </div>
        </td>
    </tr>
    <tr class="spacer"></tr>
}