@using Postera.WebApp.Resources
@model SearchParameters
@{
    ViewData["Title"] = "OrdersTemplate";
    Layout = "_Layout";
}

<div class="row w-100">
    <div class="col-lg-12">
        <h2 class="title-1 m-b-25">@Resources.LatestOrders</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>@Resources.Date</th>
                        <th>@Resources.OrderId</th>
                        <th class="text-right">@Resources.Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="orders">
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="/js/changeStatusComponent.js"></script>
    <script>
        var tableBody = document.querySelector("#orders");
        registerChangeStatusComponent(tableBody);
        getOrders("@Model.Id", "@Model.Type");
        registerOrderModal();
    </script>
}